/* your styles go here 
TO DO; make background white */

.background-gray-lightest {
	background-color: white;
	padding-top: 10px;
}


.footer {
	background-color: : #cccccc;
	position: relative;
	min-height: 100%;
}
