/* your styles go here 
TO DO; make background white */

.background-gray-lightest {
	background-color: white;
}


.footer__copyright {
  background: #cccccc;
  position:relative
  min-height: 100%;
}