/* your styles go here 
TO DO; make background white */

.background-gray-lightest {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom:60px;
}

.footer__copyright {
	background-color: : #cccccc;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.col-md-6 {
	color: #2b90d9;
}